.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

body {
  @extend %medium;
  font-size: 16px;
  line-height: 1.5;
  color: $default;
  background-color: $white;
}

a {
  @extend %bold;
  color: $default;
}
