/* Large desktops and laptops */
@media (max-width: 1200px) {
  //h2 (title top)
  .g-title {
    @include adaptiv-font(58, 30);
    padding-top: 15px;
    line-height: 1.1;
  }
  //h3 (subtitle top)
  .g-subtitle {
    @include adaptiv-font(26, 20);
  }
  //h4 (subtitle of topic)
  .g-topic-subtitle {
    @include adaptiv-font(40, 28);
  }
  //h5 (little subtitle)
  .g-little-subtitle {
    @include adaptiv-font(22, 18);
    margin-bottom: 10px;
  }

  .g-top {
    padding: 15px;
    margin-bottom: 20px;
  }

  .g-margin {
    margin-bottom: 10px;
  }



  .top {
    &__inner-title {
      @include adaptiv-font(140, 50);
    }
  }

  .grammar-section {
    &__inner:hover .grammar-section__item {
      transform: scale(1);
      filter: blur(0px);
      opacity: 1;
      box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
    }
    &__inner:hover .grammar-section__item:hover {
      transform: scale(1);
      filter: blur(0px);
      opacity: 1;
      box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
    }
  }

  .blog-section {
    &__subtitle {
      @include adaptiv-font(20, 16);
    }
    &__items:hover .blog-section__item {
      filter: blur(0px);
      opacity: 1;
      transform: scale(1);
      box-shadow: none;
    }
    &__items:hover .blog-section__item:hover {
      transform: scale(1);
      filter: blur(0px);
      opacity: 1;
      box-shadow: none;
    }
  }

  .blog-item {
    &__text {
      margin-bottom: 20px;
    }
  }
}


/* Portrait tablets and small desktops */
@media (max-width: 991px) {
  .section {
    padding: 50px 0;
  }

  .grammar-section {
    &__title {
      margin-bottom: 60px;
    }
    &__inner {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
  }

  .update-section {
    &__inner {
      flex-direction: column;
    }
    &__info {
      padding: 0;
    }
  }

  .form {
    &__inner {
      display: flex;
      flex-direction: column;
      padding: 10px;
    }
    &__items {
      flex-direction: column;
    }
    &__text {
      @include adaptiv-font(20, 16);
    }
    &__box {
      flex-direction: column;
      span {
        margin-bottom: 15px;
      }
    }
    &__btn {
      order: 2;
    }
  }

  .blog-section {
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
    &__item {
      max-width: 100%;
    }
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .g-paragraph .g-li>span {
    display: block;
  }
  .g-ul {
    padding: 0;
  }

  .header {
    &__btn {
      display: none;
    }
  }
  .menu {
    &__list {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      top: 90px;
      text-align: center;
      background-color: $white;
      transform: translateX(-200%);
      transition: transform .7s ease-in-out;
      // z-index: 500;
    }
    .menu__list.active {
      transform: translateX(0%);
    }
    &__list-item {
      font-size: 24px;
      padding: 10px 0;
    }
    &__list-item:last-child {
      padding: 30px 0;
      margin-right: 12px;
      font-size: 18px;
    }
    &__btn {
      position: relative;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 22px;
      background-color: transparent;
      border: none;
      span {
        width: 100%;
        height: 3px;
        background-color: $default;
      }
      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: $default;
      }
      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
    }
  }

  // .menu__list.active {
  //   .menu__btn {
  //     &::before {
  //       content: "";
  //       top: 10px;
  //       transform: rotate(45deg);
  //       transition: top 300ms, transform 300ms 300ms ease;
  //     }
  //     &::after {
  //       content: "";
  //       bottom: 10px;
  //       transform: rotate(-45deg);
  //       transition: bottom 300ms, transform 300ms 300ms ease;
  //     }
  //     &::before,
  //     &::after {
  //       background-color: $default;
  //     }
  //     span {
  //       background-color: transparent;
  //     }
  //   }
  // }



  .grammar-section {
    &__title {
      margin-bottom: 30px;
    }
    &__inner {
      grid-template-columns: repeat(1, 1fr);
    }
    &__item {
      padding: 15px;
    }
    &__item-box {
      margin-bottom: 0;
      justify-content: start;
    }
    &__item-title {
      text-align: left;
    }
    &__item-text {
      text-align: left;
    }
  }

  .blog-section {
    &__items {
      grid-template-columns: repeat(1, 1fr);
    }

  }

  .footer {
    &__ul {
      display: flex;
      flex-direction: column;
    }
  }


}



// @media (max-width: 1230px) {
//   .blog {
//     &__items {
//       &:after {
//         right: 8px;
//       }
//     }
//   }
// }

// @media (max-width: 1200px) {
//   .blog {
//     &__items {
//       display: grid;
//       grid-gap: 30px;
//       grid-template-columns: repeat(3, 1fr);
//     }
//     &__item-box {
//       padding: 20px 15px;
//     }
//   }
// }
// @media (max-width: 1050px) {
//   .blog {
//     &__items {
//       grid-template-columns: repeat(2, 1fr);
//     }
//     &__item {
//       max-width: 100%;
//       img {
//         width: 100%;
//       }
//     }
//   }
// }

// @media (max-width: 768px) {
//   .blog {
//     padding: 60px 0;
//     &__items {
//       grid-template-columns: repeat(1, 1fr);
//     }
//   }
// }

// @media (max-width: 375px) {
//   .blog-box {
//     display: block;
//     &__date {
//       margin-top: 10px;
//     }
//   }
//   .blog {
//     &__item-imglink {
//       img {
//         height: 220px;
//       }
//     }
//   }
// }

/* Landscape phones and smaller */
@media (max-width: 480px) {
  .footer {
    &__top {
      display: flex;
      flex-direction: column;
    }
    &__ul {
      align-items: center;
    }
    &__li {
      margin-right: 0 !important;
    }
    .logo__img {
      margin: 0 auto;
    }
    &__bottom {
      font-size: 14px;
    }
  }
}