//grammar/exercises/vocabulary
.page {
  &__inner-title {
    margin-bottom: 40px;
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  &__item {
    background-color: $light-grey;
    padding: 25px;
    max-width: 370px;
    min-height: 300px;
    border-radius: 5px;
  }
  &__item-name {
    text-align-last: left;
    margin-bottom: 20px;
    display: inline-block;
    font-size: 24px;
    border-radius: 4px;
  }
  &__item-a {
    @extend %semiBold;
    transition: all 0.2s;
    &:hover {
      color: $accent;
    }
  }
}

/* Large desktops and laptops */
@media (max-width: 1200px) {
  .page {
    &__content {
      grid-template-columns: repeat(2, 1fr);
    }
    &__inner-title {
      margin-bottom: 20px;
    }
    &__item {
      padding: 15px;
      max-width: none;
      min-height: auto;
    }
    &__item-name {
      margin-bottom: 10px;
      @include adaptiv-font(24, 20);
    }
    &__item-a {
      &:hover {
        color: $default;
      }
    }
  }
}

/* Portrait tablets and medium desktops */
@media (max-width: 992px) {
  .page {
    &__content {
      grid-template-columns: repeat(1, 1fr);
    }
    &__item-li {
      padding: 2px 0;
    }
  }
}
