@import "vars";
@import "fonts";
@import "reset";
@import "global";
@import "media";

//header and footer
@import "header";
@import "footer";

//main page
.section {
  padding: 100px 0;
}

.top {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    min-height: calc(100vh - 82px);
  }
  &__inner-title {
    font-size: 140px;
    line-height: 1;
    text-transform: uppercase;
    text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.15),
      0px 24px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1);
    user-select: none;
  }
}

.grammar-section {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  &__title {
    margin-bottom: 80px;
    text-align: center;
  }
  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
  &__inner:hover .grammar-section__item {
    filter: blur(3px);
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 0.5;
    transform: scale(0.98);
    box-shadow: none;
  }
  &__inner:hover .grammar-section__item:hover {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
    box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
  }
  &__item {
    padding: 30px;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease-in-out;
  }
  &__item-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  &__item-letter {
    margin-right: 30px;
    font-size: 68px;
    line-height: 1.2;
    text-transform: uppercase;
    text-shadow: 0px 3px 0px #b2a98f, -3px 6px 5px rgba(0, 0, 0, 0.15),
      -4px 10px 1px rgba(0, 0, 0, 0.1), -6px 14px 15px rgba(0, 0, 0, 0.1);
  }
  &__item-title {
    text-align: center;
    font-size: 20px;
  }
  &__item-text {
    text-align: center;
    @extend %medium;
  }
}

.update-section {
  background-color: $light-grey;
  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    p {
      margin-bottom: 30px;
    }
  }
  &__subtitle {
    margin-bottom: 30px;
  }
  &__second-title {
    margin-bottom: 15px;
    @extend %bold;
    font-size: 20px;
  }
  &__link {
    @extend %btn;
  }
  &__info {
    padding-right: 10px;
  }
}

.form {
  background-color: $default;
  &__inner {
    padding: 40px;
    display: flex;
    justify-content: space-between;
  }
  &__info {
    margin-right: 30px;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 450px;
  }
  &__title {
    margin-bottom: 15px;
    color: $white;
  }
  &__text {
    margin-bottom: 25px;
    font-size: 20px;
    color: $white;
  }
  &__body {
    max-width: 600px;
  }
  &__items {
    display: flex;
  }
  &__item {
    width: 100%;
  }
  &__item:not(:last-child) {
    margin-right: 10px;
  }
  &__label::placeholder {
    color: $light-grey;
  }
  &__input {
    @extend %input;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    color: $white;
    span {
      max-width: 350px;
    }
    a {
      color: $white;
      text-decoration: underline;
    }
  }
  &__btn {
    margin-right: 15px;
    @extend %btn;
    background-color: $white;
    color: $default;
  }
}

//адаптив главной страницы
/* Large desktops and laptops */
@media (max-width: 1200px) {
  .top {
    &__inner-title {
      @include adaptiv-font(140, 50);
    }
  }

  .grammar-section {
    &__inner:hover .grammar-section__item {
      transform: scale(1);
      filter: blur(0px);
      opacity: 1;
      box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
    }
    &__inner:hover .grammar-section__item:hover {
      transform: scale(1);
      filter: blur(0px);
      opacity: 1;
      box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
    }
  }
}

/* Portrait tablets and small desktops */
@media (max-width: 991px) {
  .grammar-section {
    &__title {
      margin-bottom: 60px;
    }
    &__inner {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
  }

  .update-section {
    &__inner {
      flex-direction: column;
    }
    &__info {
      padding: 0;
    }
  }

  .form {
    &__inner {
      display: flex;
      flex-direction: column;
      padding: 10px;
    }
    &__items {
      flex-direction: column;
    }
    &__text {
      @include adaptiv-font(20, 16);
    }
    &__box {
      flex-direction: column;
      span {
        margin-bottom: 15px;
      }
    }
    &__btn {
      order: 2;
    }
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .grammar-section {
    &__title {
      margin-bottom: 30px;
    }
    &__inner {
      grid-template-columns: repeat(1, 1fr);
    }
    &__item {
      padding: 15px;
    }
    &__item-box {
      margin-bottom: 0;
      justify-content: start;
    }
    &__item-title {
      text-align: left;
    }
    &__item-text {
      text-align: left;
    }
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
}
